---
---

<section id="about" class="w-full flex justify-center">
  <div class="rounded-[0.2rem] p-6 md:p-10 text-center flex flex-col items-center justify-center max-w-[60rem]">
    <h3 class="text-[5rem] font-bold tracking-[-0.015rem]">Bring Vision to Life.</h3>
    <p class="text-[1.55rem]  font-bold opacity-50">
      Building scalable, high-performance, maintainable, and scure APIs, Coupled with crafting robust server-side functionality. ── Hands-on
      experience with cutting-edge technologies prevalent in the industry.
    </p>
  </div>
</section>



<!-- 
bg-[b200ff08]  
bg-[#312aff10]
  -->