---
interface Props {
  status: 'available' | 'unavailable';
}

const { status } = Astro.props;

const colorMap = {
  available: {
    bgColor: 'bg-[#2aff6611]',
    borderColor: 'border-[#2aff6676]',
    dotColor: 'bg-[#2aff66]',
  },
  unavailable: {
    bgColor: 'bg-[#ff2a2a11]',
    borderColor: 'border-[#ff2a2a76]',
    dotColor: 'bg-[#ff2a2a]',
  },
};

const { bgColor, borderColor, dotColor } = colorMap[status];
---

<div class={`flex items-center gap-1 ${bgColor} border-[1.3px] ${borderColor} rounded-xl px-1 py-[1px] w-fit`}>
  <span class="relative flex h-2 w-2">
    <span class={`animate-ping absolute inline-flex h-full w-full rounded-full ${dotColor} opacity-75`}></span>
    <span class={`relative inline-flex rounded-full h-2 w-2 ${dotColor}`}></span>
  </span>
  <p class="text-xs font-bold opacity-50">
    Currently I'm {status === 'available' ? 'Available' : 'Unavailable'} for Working
  </p>
</div>
