---
import Image from "astro/components/Image.astro";
---

<section
  id="contact"
  class="flex flex-col items-center justify-start py-10 gap-6 font-helvetica text-lg"
>
  <Image
    src="/images/wave.svg"
    class="transform rotate-180"
    width="50"
    height="50"
    alt=""
  />
  <div class="flex items-center justify-center flex-col gap-2">
    <h2 class="text-[0.8rem] font-bold opacity-50">
      More info on my
      <a href="https://drive.google.com/file/d/1hgBv3QviMTRL4XWmGCmqVnVQsYV_kCOb"><span class="border-b-4 border-[#622aff]">Resume</span></a
      >, or other social media platforms
    </h2>
    <div class="flex items-center">
      <a href="mailto:em.ehabm@gmail.com"
        ><Image
          src="/images/social/gmail.svg"
          class=""
          width="30"
          height="30"
          alt=""
      /></a>
      <a href="https://linkedin.com/in/ehab-m"
        ><Image
          src="/images/social/linkedin.svg"
          class=""
          width="30"
          height="30"
          alt=""
      /></a>
      <a href="https://github.com/eh4p"
        ><Image
          src="/images/social/github.svg"
          class=""
          width="30"
          height="30"
          alt=""
      /></a>
      <a href=""
        ><Image
          src="/images/social/x.svg"
          class=""
          width="30"
          height="30"
          alt=""
      /></a>
      <a href=""
        ><Image
          src="/images/social/facebook.svg"
          class=""
          width="30"
          height="30"
          alt=""
      /></a>
      <a href=""
        ><Image
          src="/images/social/instagram.svg"
          class=""
          width="30"
          height="30"
          alt=""
      /></a>
    </div>
  </div>
</section>
