---
import Image from "astro/components/Image.astro";
import SocialLink from './SocialLink.astro';
---

<section
  id="contact"
  class="flex flex-col items-center justify-start py-10 gap-6 font-helvetica text-lg"
>
  <Image
    src="/images/wave.svg"
    class="transform rotate-180"
    width="50"
    height="50"
    alt=""
  />
  <div class="flex items-center justify-center flex-col gap-2">
    <h2 class="text-[0.8rem] font-bold opacity-50">
      More info on my
      <a href="https://drive.google.com/file/d/1hgBv3QviMTRL4XWmGCmqVnVQsYV_kCOb"><span class="border-b-4 border-[#312aff]">Resume</span></a>,
      or other social media platforms
    </h2>
    <div class="flex items-center">
      <SocialLink href="mailto:em.ehabm@gmail.com" src="/images/social/gmail.svg" alt="gmail" />
      <SocialLink href="https://linkedin.com/in/ehab-m" src="/images/social/linkedin.svg" alt="linkedin" />
      <SocialLink href="https://github.com/eh4p" src="/images/social/github.svg" alt="github" />
      <SocialLink href="https://x.com" src="/images/social/x.svg" alt="x" />
      <SocialLink href="https://facebook.com" src="/images/social/facebook.svg" alt="facebook" />
      <SocialLink href="https://instagram.com" src="/images/social/instagram.svg" alt="instagram" />
    </div>
  </div>
</section>
