---
---

<section class="w-full text-center">
  <h2 class="text-[0.8rem] font-bold opacity-50">
    Thanks For Visting My Portfolio
  </h2>
  <p class="text-[0.8rem] font-bold opacity-50">© 2024 Ehab Muhammad</p>
</section>
