---
import Image from "astro/components/Image.astro";
---

<nav class="font-bold flex items-center justify-center font-allan">
  <Image src="/images/main.png" width="60" height="60" alt="main" loading="eager" />
  <!-- <ul class="hidden md:flex gap-8 text-lg h-8">
      <li class="hover:border-b-4 hover:opacity-75 border-[#f5f5f7] transition-all">
        <a href="/" class="py-1 inline-block">HOME</a>
      </li>
      <li class="hover:border-b-4 hover:opacity-75 border-[#f5f5f7] transition-all">
        <a href="/#about" class="py-1 inline-block">ABOUT</a>
      </li>
      <li class="hover:border-b-4 hover:opacity-75 border-[#f5f5f7] transition-all">
        <a href="/#projects" class="py-1 inline-block">PROJECTS</a>
      </li>
      <li class="hover:border-b-4 hover:opacity-75 border-[#f5f5f7] transition-all">
        <a href="/#contact" class="py-1 inline-block">CONTACT</a>
      </li>
    </ul> -->
</nav>
