---
import Image from 'astro/components/Image.astro';

interface Props {
  href: string;
  src: string;
  alt: string;
}

const { href, src, alt } = Astro.props;
---

<a href={href}>
  <Image src={src} class="" width="30" height="30" alt={alt} />
</a>
