---
interface Props {
  title: string;
  value: string | string[];
}

const { title, value } = Astro.props;
---

<div class="text-center">
  <h2 class="text-[0.8rem] opacity-80 leading-none mb-1">
    {title}
  </h2>
  {Array.isArray(value) ? value.map(item => <h2 class="text-[0.9rem] opacity-80 leading-none">{item}</h2>) : <h2 class="text-[0.9rem] opacity-80 leading-none">{value}</h2>}
</div>
