---
import StatisticItem from './StatisticItem.astro';
---

<section
  id="stats"
  class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-0 p-4 w-full"
>
  <div class="grid justify-center md:justify-start">
    <StatisticItem title="Current Position:" value="FrontEnd Engineer" />
  </div>
  <div class="grid place-items-center">
    <StatisticItem title="Current Stack:" value={[".NET / Angular", "NestJS / NextJS"]} />
  </div>
  <div class="grid justify-center md:justify-end">
    <StatisticItem title="Current Company:" value="QRFD Solutions" />
  </div>
</section>
